@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-zalando-sans-expanded);
  --font-mono: var(--font-nunito-sans);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-darkforeground: var(--darkforeground);
  --color-danger: var(--danger);
}

:root {
  --background: #fafdff;
  --foreground: #18181a;
  --primary: #a7d3e9;
  --darkforeground: #c3c9cd;
  --danger: #f07e7e;
}

.dark {
  --background: #18181a;
  --foreground: #c3c9cd;
  --primary: #292b2f;
  --danger: #f07e7e;
}

@layer base {
  button {
    cursor: pointer;
  }

  body {
    @apply bg-background text-foreground;
    font-size: 20px;
  }
  h1,
  h2,
  h3 {
    font-family:
      var(--font-zalando-sans-expanded), Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
  }
  .title-font {
    font-family:
      var(--font-zalando-sans-expanded), Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  section.global{
    padding: 4rem 0;
  }
}
